aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool*
m4/lt*
man/*.1
man/*.8
missing
stamp-h1
Makefile
Makefile.in
.deps
.dirstamp
.libs
*.o
*.la
*.lo
*.swp
*~
